# The Connection Settings
Port 22XX
Protocol 2
#ListenAddress 0.0.0.0
#ListenAddress ::
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

DenyUsers test admin guest nobody

# Logging
SyslogFacility AUTHPRIV
LogLevel VERBOSE

# Authentication:
LoginGraceTime 1m
PermitRootLogin yes
MaxAuthTries 3
AuthorizedKeysFile	.ssh/authorized_keys

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication	yes
PermitEmptyPasswords no

# Change to no to disable s/key passwords
ChallengeResponseAuthentication	yes

# GSSAPI options
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

UsePAM	yes
X11Forwarding no
PrintMotd yes
PrintLastLog yes
UsePrivilegeSeparation sandbox
Compression delayed
CompressionLevel 6
ClientAliveInterval 120
ClientAliveCountMax 3
UseDNS no
PidFile /var/run/sshd.pid
ShowPatchLevel no
MaxStartups 20:40:60
Banner /etc/issue.net

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server -f AUTHPRIV -l INFO
